<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Sherbo_Hellobez>
            <version>0.2.0</version>
        </Sherbo_Hellobez>
    </modules>
    <global>
        <blocks>
            <hellobez>
                <class>Sherbo_Hellobez_Block</class>
            </hellobez>
        </blocks>
        <helpers>
            <hellobez>
                <class>Sherbo_Hellobez_Helper</class>
            </hellobez>
        </helpers>
        <models>
            <hellobez>
                <class>Sherbo_Hellobez_Model</class>
                <resourceModel>hellobez_resource</resourceModel>
            </hellobez>
            <hellobez_resource>
                <class>Sherbo_Hellobez_Model_Resource</class>
                <entities>
                    <subscription>
                        <table>hellobez_subscription</table>
                    </subscription>
                </entities>
            </hellobez_resource>
            <catalog>
                <rewrite>
                    <product>Sherbo_Hellobez_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <hellobez_setup>
                <setup>
                    <module>Sherbo_Hellobez</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hellobez_setup>
            <hellobez_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hellobez_read>
            <hellobez_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hellobez_write>
        </resources>
    </global>
    <frontend>
        <routers>
            <hellobez>
                <use>standard</use>
                <args>
                    <module>Sherbo_Hellobez</module>
                    <frontName>hellobez</frontName>
                </args>
            </hellobez>
        </routers>
        <layout>
            <updates>
                <hellobez>
                    <file>hellobez.xml</file>
                </hellobez>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sherbo_Hellobez>
                    <files>
                        <default>Sherbo_Hellobez.csv</default>
                    </files>
                </Sherbo_Hellobez>
            </modules>
        </translate>
    </frontend>
</config>