<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Sherbo_Customapp>
            <version>0.1.0</version>
        </Sherbo_Customapp>
    </modules>
    <frontend>
        <routers>
            <customapp>
                <use>standard</use>
                <args>
                    <module>Sherbo_Customapp</module>
                    <frontName>customapp</frontName>
                </args>
            </customapp>
        </routers>
    </frontend>
    <global>
        <models>
            <customapp>
                <class>Sherbo_Customapp_Model</class>
                <resourceModel>customapp_resource</resourceModel>
            </customapp>
            <customapp_mysql4>
                <class>Sherbo_Customapp_Model_Resource</class>
            </customapp_mysql4>
        </models>
        <resources>
            <customapp_setup>
                <setup>
                    <module>Sherbo_Customapp</module>
                    <class>Sherbo_Customapp_Model_Resource_Setup</class>
                </setup>
            </customapp_setup>
        </resources>
        <helpers>
            <customapp>
                <class>Sherbo_Customapp_Helper</class>
            </customapp>
        </helpers>
        <blocks>
            <customapp>
                <class>Sherbo_Customapp_Block</class>
            </customapp>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customapp>
                                            <title>Store Hello World Module Section</title>
                                        </customapp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>